﻿@{
    ViewBag.Title = "Redirect";
}
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")

<script>
    window.top.location.replace("/Home/Congratulations");
</script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -.NET e-SL Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<div class="container body-content">
    <h2>Please wait..</h2>
    You are being redirected..
</div>



