﻿
@{
    ViewBag.Title = "Notifications Dashboard";
    
}
<h2>Dashboard</h2>
<table class="table">
    <tr>
        <td>Package ID</td>
        <td>Status</td>
        <td>Actions</td>
    </tr>
    @foreach (var entry in ViewData["updatedDatabase"] as Dictionary<String, String>)
    {
        <tr>
            <td>@entry.Key</td>
            <td>@entry.Value</td>
            <td>
                <div class="row">
                    @if (entry.Value.Contains("PACKAGE_COMPLETE") || entry.Value.Contains("SIGNER_COMPLETE"))
                    {
                        <form role="form" action="/DownloadDocuments">
                            <input type="hidden" value=@entry.Key name="packageId" id="packageId" />
                            <button type="submit" class="btn btn-primary btn-block">Documents</button>
                        </form>
                        <br/>
                        <form role="form" action="/Evidence" target="_blank">
                            <input type="hidden" value=@entry.Key name="packageId" id="packageId" />
                            <button type="submit" class="btn btn-primary btn-block">Evidence</button>
                        </form>
                        <br/>
                        <form role="form" action="/FieldValues" target="_blank">
                            <input type="hidden" value=@entry.Key name="packageId" id="packageId" />
                            <button type="submit" class="btn btn-primary btn-block">FieldValues</button>
                        </form>
                    }
                </div>
            </td>
        </tr>
    }
</table>
        
    
