﻿
@{
    ViewBag.Title = "Insurance Form";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#insuranceForm').bootstrapValidator({
            message: 'This value is not valid',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                firstName: {
                    message: 'The firstname is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The firstname is required and cannot be empty'
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                            message: 'The firstname must be more than 2 and less than 30 characters long'
                        }
                    }
                },
                lastName: {
                    message: 'The lastname is not valid',
                    validators: {
                        notEmpty: {
                            message: 'The lastname is required and cannot be empty'
                        },
                        stringLength: {
                            min: 2,
                            max: 30,
                            message: 'The lastname must be more than 2 and less than 30 characters long'
                        }
                    }
                },
                emailAddress: {
                    validators: {
                        notEmpty: {
                            message: 'The email is required and cannot be empty'
                        },
                        emailAddress: {
                            message: 'The input is not a valid email address'
                        }
                    }
                }
            }
        });
    });
</script>

<h2>Insurance Form</h2>
<p> <b> Please fill out the following insurance form </b></p>

<form id="insuranceForm" class="form-horizontal" action="/InsuranceForm/ESLSignature" method="post" role="form">
    <div class="form-group">
        <div class="form-group">
            <label for="insuredInitials" class="col-sm-2 control-label">Insured	Initials</label>
            <div class="col-sm-10">
                <input type="text" name="insuredInitials" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="firstName" class="col-sm-2 control-label">First Name</label>
            <div class="col-sm-10">
                <input type="text" name="firstName" value="John" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="lastName" class="col-sm-2 control-label">Last Name</label>
            <div class="col-sm-10">
                <input type="text" name="lastName" value="Smith" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="address" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-10">
                <input type="text" name="address" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="city" class="col-sm-2 control-label">city</label>
            <div class="col-sm-10">
                <input type="text" name="city" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="province" class="col-sm-2 control-label">Province</label>
            <div class="col-sm-10">
                <input type="text" name="province" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="emailAddress" class="col-sm-2 control-label">Email Address</label>
            <div class="col-sm-10">
                <input type="email" name="emailAddress" value="john.smith@mailinator.com" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="language" class="col-sm-2 control-label">Language</label>
            <div class="col-sm-10">
                <select name="language" class="form-control">
                    <option value="english">English</option>
                    <option value="french">French</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="vehicleModel" class="col-sm-2 control-label">Vehicle Model</label>
            <div class="col-sm-10">
                <input type="text" name="vehicleModel" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="vehicleMake" class="col-sm-2 control-label">Vehicle Make</label>
            <div class="col-sm-10">
                <input type="text" name="vehicleMake" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="vehicleModelYear" class="col-sm-2 control-label">Vehicle Model Year</label>
            <div class="col-sm-10">
                <input type="text" name="vehicleModelYear" value="" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="vehicleColor" class="col-sm-2 control-label">Vehicle Color</label>
            <div class="col-sm-10">
                <input type="text" name="vehicleColor" value="" class="form-control" /><br />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit Form</button>
            </div>
        </div>
    </div>
</form>
